#gopng_market-ding-green_outer {
height: 63px;
width: 46px;
overflow: hidden;
}
#gopng_market-ding-green {
background: url() -0px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 0px;
_margin-left: -0px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="");
}
#gopng_market-run3_outer {
height: 61px;
width: 295px;
overflow: hidden;
}
#gopng_market-run3 {
background: url() -46px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 46px;
_margin-left: -46px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="");
}
#gopng_market-ding_outer {
height: 56px;
width: 46px;
overflow: hidden;
}
#gopng_market-ding {
background: url() -341px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 341px;
_margin-left: -341px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="");
}
#gopng_qiye_outer {
height: 56px;
width: 164px;
overflow: hidden;
}
#gopng_qiye {
background: url() -387px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 387px;
_margin-left: -387px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="");
}
#gopng_runtopia_outer {
height: 56px;
width: 229px;
overflow: hidden;
}
#gopng_runtopia {
background: url() -0px -63px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 0px;
_margin-left: -0px;
_padding-top: 63px;
_margin-top: -63px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="");
}
#gopng_walk_normal_outer {
height: 40px;
width: 40px;
overflow: hidden;
}
#gopng_walk_normal {
background: url() -551px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 551px;
_margin-left: -551px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="");
}
#gopng_run_selected_outer {
height: 40px;
width: 40px;
overflow: hidden;
}
#gopng_run_selected {
background: url() -229px -63px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 229px;
_margin-left: -229px;
_padding-top: 63px;
_margin-top: -63px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="");
}
#gopng_run_normal_outer {
height: 40px;
width: 40px;
overflow: hidden;
}
#gopng_run_normal {
background: url() -269px -63px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 269px;
_margin-left: -269px;
_padding-top: 63px;
_margin-top: -63px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="");
}
#gopng_ride_selected_outer {
height: 40px;
width: 40px;
overflow: hidden;
}
#gopng_ride_selected {
background: url() -309px -63px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 309px;
_margin-left: -309px;
_padding-top: 63px;
_margin-top: -63px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="");
}
#gopng_walk_selected_outer {
height: 40px;
width: 40px;
overflow: hidden;
}
#gopng_walk_selected {
background: url() -349px -63px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 349px;
_margin-left: -349px;
_padding-top: 63px;
_margin-top: -63px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="");
}
#gopng_ride_normal_outer {
height: 40px;
width: 40px;
overflow: hidden;
}
#gopng_ride_normal {
background: url() -389px -63px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 389px;
_margin-left: -389px;
_padding-top: 63px;
_margin-top: -63px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="");
}
#gopng_startdot_2x_outer {
height: 38px;
width: 38px;
overflow: hidden;
}
#gopng_startdot_2x {
background: url() -429px -63px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 429px;
_margin-left: -429px;
_padding-top: 63px;
_margin-top: -63px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="");
}
#gopng_finishdot_2x_outer {
height: 38px;
width: 38px;
overflow: hidden;
}
#gopng_finishdot_2x {
background: url() -467px -63px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 467px;
_margin-left: -467px;
_padding-top: 63px;
_margin-top: -63px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="");
}
#gopng_startdot_2x_outer {
height: 38px;
width: 38px;
overflow: hidden;
}
#gopng_startdot_2x {
background: url() -505px -63px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 505px;
_margin-left: -505px;
_padding-top: 63px;
_margin-top: -63px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="");
}
#gopng_touch_outer {
height: 38px;
width: 131px;
overflow: hidden;
}
#gopng_touch {
background: url() -0px -119px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 0px;
_margin-left: -0px;
_padding-top: 119px;
_margin-top: -119px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="");
}
#gopng_km_2_2x_outer {
height: 34px;
width: 34px;
overflow: hidden;
}
#gopng_km_2_2x {
background: url() -543px -63px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 543px;
_margin-left: -543px;
_padding-top: 63px;
_margin-top: -63px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="");
}
#gopng_km_1_2x_outer {
height: 34px;
width: 34px;
overflow: hidden;
}
#gopng_km_1_2x {
background: url() -131px -119px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 131px;
_margin-left: -131px;
_padding-top: 119px;
_margin-top: -119px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="");
}
#gopng_weibo_outer {
height: 32px;
width: 32px;
overflow: hidden;
}
#gopng_weibo {
background: url() -165px -119px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 165px;
_margin-left: -165px;
_padding-top: 119px;
_margin-top: -119px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="");
}
#gopng_weixin_outer {
height: 32px;
width: 32px;
overflow: hidden;
}
#gopng_weixin {
background: url() -197px -119px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 197px;
_margin-left: -197px;
_padding-top: 119px;
_margin-top: -119px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="");
}
#gopng_police_outer {
height: 20px;
width: 20px;
overflow: hidden;
}
#gopng_police {
background: url() -577px -63px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 577px;
_margin-left: -577px;
_padding-top: 63px;
_margin-top: -63px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="");
}
