.02_01 {
    width: 66px;
    height: 66px;
    background-position: -0px -0px;
}

.02_02 {
    width: 66px;
    height: 66px;
    background-position: -66px -0px;
}

.02_04 {
    width: 66px;
    height: 66px;
    background-position: -132px -0px;
}

.02_03 {
    width: 66px;
    height: 66px;
    background-position: -198px -0px;
}

